// Webpage style
$background-color: #ff0000;
$general-color: #d3d3d3;
$background-color_header: #000000;
$nav-color: #000000;
$search-color: #000000;
$filmcard-color_inner: #000000;
$filmcard-color_back: #000000;
$filmcard-color_back__button: #0000ff;
$filmcard-color_year__background: #ffff00;
$filmcard-color_year__color: #000000;
$filmcard-color_type__background: #800080;
$filmcard-color_type__color: #ffffff;

// Mobile style
$m-background-color: #008000;
$m-general-color: #d3d3d3;
$m-background-color_header: #000000;
$m-nav-color: #000000;
$m-search-color: #000000;
$m-filmcard-color_inner: #000000;
$m-filmcard-color_back: #000000;
$m-filmcard-color_back__button: #0000ff;
$m-filmcard-color_year__background: #ffff00;
$m-filmcard-color_year__color: #000000;
$m-filmcard-color_type__background: #800080;
$m-filmcard-color_type__color: #ffffff;
